
#logoLogin {
  width: auto;
  height: 100%;
  padding: 20px;
}

.bg-logoLogin {
  border-left: 5px solid rgba(52, 51, 51, 0.361); /* Bordes redondeados */
}

.total-login {
    z-index: 4;
}

.bg-blur {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.116); /* Color de fondo con transparencia */
  border-radius: 15px; /* Bordes redondeados */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  z-index: 3;
}

.bg-login {
  background: oklch(0.269 0 0);
  background-image: url('../../../assets/fondo1.jpg');
  background-size: cover;           /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center;      /* Centra la imagen */
  background-repeat: no-repeat;
  z-index: 0;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.598); /* Oscurece con negro semitransparente */
  z-index: 1;
}

.text-Terms {
    color: white;
    z-index: 3;
}